body {
  background: linear-gradient(#a00, transparent),
    linear-gradient(to top left, #0a0, transparent),
    linear-gradient(to top right, #00a, transparent);
  background-blend-mode: screen;
}

html,
body {
  height: 100%;
  font-family: Objective, Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img.emoji {
  width: 70vw;
  max-width: 70vh;
}
